@charset "utf-8";
/* 全兼容可高亮二级缓冲折叠菜单*/
body {
	text-align: center;
	background: #CCC;
	margin: 0;
	padding: 0;
	border-right: 1px solid #000;
}

div,ul,ul li {/*通用设置*/
	margin: 0;
	padding: 0;
	white-space: nowrap;
	border: 0;
	text-align: left;
	cursor: default;
	font-size: 12px;
	color: #FFF;
}

a {
	cursor: default;
	text-decoration: none;
}
a:hover {
	color: red;
}/*这里为链接变换背景*/
a:link, a:visited {
	text-decoration: none;
}
/*菜单头尾设置*/

h1 i{
	vertical-align: middle;
}
/*一级菜单*/
.menu {
	overflow-y: auto;
	height: 100%;
	padding-left: 8px;
    background: #333;
    width:100%;
    top:0;
    bottom:0;
    float:left;
}

/*.menu li,.menu li ul.level2 li.weo,.menu li ul.level2 li.weos{position:relative;}相对定位*/
.menu li {
	display: block;
	height: 37px;
	line-height: 37px;
	padding-left: 12px;
	overflow: hidden;
}
h1 {
	width: 100%;
	height: 37px;
	line-height: 37px;
	font-size: 18px;
	color: #999;
	text-align: left;
	vertical-align: bottom;
	padding-left: 8px;
     background: #333;
    margin:0
 
}/*固定头部*/
.menu i {
	margin-right: 5px;
	margin-left: 3px;
	vertical-align: middle;
}
/*一级菜单两态样式,供JS.menu li a *{vertical-align: bottom;}调用*/
.menu li.licheck {
	color: #000;
	background-color: #FFF;
	border-radius: 8px;
	font-weight: bold;
	height: 35px;
	line-height: 35px;
	border: 1px solid #000;
	padding-left: 11px;
}/*光标放上时背景色变色*/

/*.menu li a:hover{color:#000;  background-color:#CCC;}*//*光标放上时背景色变色*/

.redfont {
	color: red;
}
.button_ADD {/*按钮添加 ok*/
	background-color: #333;
}
